{% extends 'base.html' %}
{% load static %}

{% block main %}
<section class="content-page">
    <h2>Сериалы</h2>
    <div class="filters">
        <select class="filter-select">
            <option>Все жанры</option>
            <option>Драма</option>
            <option>Криминал</option>
            <option>Фантастика</option>
            <option>Комедия</option>
            <option>Детектив</option>
        </select>
        <select class="filter-select">
            <option>Новые сначала</option>
            <option>Старые сначала</option>
            <option>По рейтингу</option>
        </select>
    </div>
    <div class="content-grid">
        <div class="content-card">
            <div class="card-image" style="background-image: url('{% static 'kf_app/images/series1.jpg' %}')"></div>
            <h3>Игра престолов</h3>
            <p>Рейтинг: 9.3/10 • 8 сезонов</p>
        </div>
        <div class="content-card">
            <div class="card-image" style="background-image: url('{% static 'kf_app/images/series2.jpg' %}')"></div>
            <h3>Во все тяжкие</h3>
            <p>Рейтинг: 9.5/10 • 5 сезонов</p>
        </div>
        <div class="content-card">
            <div class="card-image" style="background-image: url('{% static 'kf_app/images/series3.jpg' %}')"></div>
            <h3>Черное зеркало</h3>
            <p>Рейтинг: 8.8/10 • 5 сезонов</p>
        </div>
        <div class="content-card">
            <div class="card-image" style="background-image: url('{% static 'kf_app/images/series4.jpg' %}')"></div>
            <h3>Друзья</h3>
            <p>Рейтинг: 8.9/10 • 10 сезонов</p>
        </div>
        <div class="content-card">
            <div class="card-image" style="background-image: url('{% static 'kf_app/images/series5.jpg' %}')"></div>
            <h3>Очень странные дела</h3>
            <p>Рейтинг: 8.7/10 • 4 сезона</p>
        </div>
        <div class="content-card">
            <div class="card-image" style="background-image: url('{% static 'kf_app/images/series6.jpg' %}')"></div>
            <h3>Ходячие мертвецы</h3>
            <p>Рейтинг: 8.2/10 • 11 сезонов</p>
        </div>
        <div class="content-card">
            <div class="card-image" style="background-image: url('{% static 'kf_app/images/series7.jpg' %}')"></div>
            <h3>Корона</h3>
            <p>Рейтинг: 8.6/10 • 6 сезонов</p>
        </div>
        <div class="content-card">
            <div class="card-image" style="background-image: url('{% static 'kf_app/images/series8.jpg' %}')"></div>
            <h3>Наследники</h3>
            <p>Рейтинг: 8.8/10 • 4 сезона</p>
        </div>
    </div>
</section>
{% endblock %}